@charset "utf-8";

header {
    background-color: #4DA6C6;
    color: #fff;
}
header nav {
/*background-color: aquamarine;*/
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding: 30px 50px 0 0;
}
header nav a {
    padding: 0 0 0 30px;
    text-decoration: none;
    color: #fff;
}
header nav a:hover {
    text-decoration: underline;
}
.header__title {
    font-size: 64px;
    padding: 50px 0 50px 100px; /*上：nav-pad分-30px、下nav-txt分+30px*/
}
.back__tri {
    background-color: #A3D9ED;
    height: 80px;
    margin-bottom: 140px;
}
.top_tri {
    background-color: #4DA6C6;
    height: 40px;
    clip-path: polygon(25% 100%, 100% 0, 0 0, 0 40%);
    position: relative;
    top: -1px;
}
.bottom_tri {
    background-color: #ffffff;
    height: 40px;
    clip-path: polygon(25% 0, 100% 100%, 0 100%, 0 60%);
    position: relative;
    bottom: -1px;
}

@media(max-width:760px){
header nav {
/*background-color: aquamarine;*/
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
header nav a {
    padding: 0 0 0 30px;
}
.lastlink {
    padding: 0 0 0 0;
}
.header__title {
    font-size: 40px;
    text-align: center;
    padding: 30px 0 30px 0 ;
}
}

/*ーーーーーーーーーーー　　　main　　　ーーーーーーーーーーー*/
/*セクション全体設定*/
section {
    margin: 0 auto 200px auto;
}
.section__title {
/*    background-color: aquamarine;*/
    font-size: 48px;
    font-weight: bold;
    color: #4DA6C6;
    text-align: center;
    padding: 50px 0;
}
article {
    max-width: 1010px;
}
/*ーーーーーーーーーーJS用CSSーーーーーーーーーー*/
/*ーーーーーーーーーーー背景JS*/
/*
.bg-js {
    background-image: linear-gradient(#DAFCFC, #A7D6DD);
    width: 100vw;
    height: auto;
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
}
*/


/*フェードイン前*/
.js-fadein {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);  /*Y軸に下50pxずらす*/

    transition: opacity 1s,visibility 1s, transform 1s; /*上記三つの変化時間指定*/
}
/*フェードイン後*/
.scroll {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
/*ーーーーーーーーーーJS用CSSここまでーーーーーーーーーー*/
/*アニメーション設定*/
.hoverZoomAnime {
    display: block;
    transition: 0.15s all;
}
.hoverZoomAnime:hover {
    transform: scale(1.02);
    transition: 0.3s all;
}

/*WORK*/
.work__content {
    margin: 0 auto;
    width: 100%;
}
.work__content_box {
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin-bottom: 100px;
}
.work__content_image {
/*    background-color: #4DA6C6;*/
    box-shadow: 5px 5px 10px  #4DA6C6;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 60px 0 40px 0;
    text-align: center;
}
.work__content_image img {
    width: 90%;
}
.work__content_box h2 {
    text-align: center;
    font-weight: 500;
    padding-top: 50px;
}
.work__content_txt {
    width: 70%;
    margin: 0 auto;
}
.work__content_txt_position {
    width: 100%;
}
.work__content_txt {
    width: 70%;
    margin: 0 auto;
}
.work__content_txt_tool {
    text-align: center;
    font-weight: 100;
}


@media(max-width:760px){
.work__content {
    width: 100%;
    padding: 0 4%;
}

.work__content_box {
    width: 100%;
    height: auto;
    padding: 0 2%;
    margin-bottom: 100px;
}
.work__content_image {
/*    background-color: #4DA6C6;*/
    box-shadow: 5px 5px 10px  #4DA6C6;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0 20px 5px;
    text-align: center;
}
.work__content_image img {
    width: 100%;
}
.work__content_box h2 {
    text-align: center;
    font-weight: 500;
    padding-top: 50px;
}
.work__content_txt {
    width: 100%;
    margin: 0 auto;
}
.work__content_txt_position {
    width: 100%;
}
.work__content_txt {
    width: 100%;
    margin: 0 auto;
}
.work__content_txt_tool {
    text-align: center;
    font-weight: 100;
}
}


/*ーーーーーーーーーーー　SKILL　ーーーーーーーーーーー*/
.skill__colum {
    max-width: 1010px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 2%;
}
.skill__colum_list {
    text-align: center;
    border: 5px solid #CDEEFA;
    padding: 20px 18px;
}
.skill__colum_list-deco {
    background-color: #CDEEFA;
}
.skill__colum_list h2 {
    font-size: 22px;
    font-weight: normal;
    padding: 10px 0;
}
.skill__colum_list img {
    width: 80px;
}
.skill__colum_list p {
    text-align: left;
    font-size: 16px;
}

@media(max-width:760px){
.skill__colum {
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 2%;
}
.skill__colum_list {
    text-align: left;
    border: 5px solid #CDEEFA;
    padding: 10px;
    display: flex;
}
.skill__colum_list-deco {
    background-color: #CDEEFA;
}
.skill__colum_list img {
    display: block;
    max-width: 100px;
    height: auto;
    margin-right: 10px;
    object-fit: contain;
}
.nopic {
    width: 40px;
}
.skill__colum_list_text h2 {
    font-size: 22px;
    font-weight: normal;
    padding: 5px 0;
}
.skill__colum_list_text p {
    text-align: left;
    font-size: 16px;
}
}

/*ーーーーーーーーーーー　ABOUT　ーーーーーーーーーーー*/
.about__content {
/*    background-color: #CDEEFA;*/
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin: 0 auto;
}
.about__content p {
/*    background-color: rgb(223, 202, 67);*/
    padding: 20px 30px;
    line-height: 30px;
}
/*ーーーーーーーーーー　フッター　ーーーーーーーーーー*/

footer {
    background-color: #4DA6C6;
    height: 250px;
    color: #fff;
    position: relative;
}
.foot__back__tri {
    background-color: #A3D9ED;
    height: 80px;
    transform: scale(-1, -1);
}
.foot__name {
/*background-color: #b1c2c8;*/
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 0;

}
